/* General styling*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 1em/1.5 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(253, 253, 253);
    width: 100%;
}

.showcase img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
h1 {
    font-size: 1.8rem;
    line-height: 1.36;
    margin: 0.25em 0;
}

h2 {
    font-size: 1.2rem;
    line-height: 1.36;
    margin: 0.25em 0;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
    line-height: 1.5;
}

.rectangle {
    font-size: 0.7rem;
}

 .btn {
    display: inline-block;
    font-size: 0.6rem;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    background: #3d405b;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5%;
    margin: 1em 0;
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.99);
    opacity: 0.75;
}

/* cards */

.card img {
    width: 100%;
    max-width: 100%
}
.suites {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

.suites .card {
    max-width: 300px;
    border: 1px solid #eee;
    margin: 1.5em auto;
    background: rgb(253, 253, 253);
    position: relative;
}

.suites .card .card-content {
    padding: 0 1em 1em;
}

.suites .card-content h3 {
    margin-bottom: -7px;
}

.suites .card .fwd-arrow {
    position: absolute;
    max-width: 60px;
    right: -20px;
    bottom: -10px;
}

.offer {
    width: 50px;
    position: absolute;
    top: 25px;
    left: 0;
}

.suites .btn {
    justify-self: center;
}

/* sections 1 - 3*/

.section1 {
    padding: 4.5em 0 2em;
}

.section1 .rectangle{
    display: block;
    margin-top: 5em;
}

section .content {
    max-width: 550px;
    margin: 1em 1.5em;
}

.section3 {
    background: rgb(243, 240, 240);
    padding: 1em;
}

.section2, .section4 {
    padding: 2em 0;
}


/* sections 4*/

.section4 .showcase {
    position: relative;
}

.section4 .img-caption {
    max-width: 200px;
    color: rgb(228, 225, 225);
    position: absolute;
    bottom:0;
    left: 0;
    padding: 2em;
    font-size: 0.5rem;
}

.section4 .img-caption .btn{
    background: #fff;
    color: #333;
}

/* sections 5*/

.section5 {
    background: rgb(243, 240, 240);
    padding: 1em;
    margin-left: 50px;
    position: relative;
}

.section5 .quote {
    display: block;
    max-width: 40px;
    position: absolute;
    top: 50%;
    left: -20px;
}

.section5 .client {
    padding: 1.5em;
    display: flex;
}

.section5 .client h3 {
    padding-left: 1em;
}


/*footer*/
.social {
    background: rgb(6, 8, 32);
    margin-top: 3em;
    padding: 2em 2.5em;
}

.footer-logo {
    margin: 0;
    display: block;
    padding: 1em 0 1.5em;
}

.social .social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
}
.social-list .social-link {
    justify-content: flex-end;
    padding: 1em 1em 1em 0;
}

form {
    color: #FFF;
    font-size: 0.9rem
}

.email {
    background: inherit;
    color: #FFF;
    padding: 0.5em 1em;
    border: 1px solid rgb(75, 74, 74);
}

.send {
    margin-left: -10px;
    background: #F3D19A;
    border: 1px solid rgb(75, 74, 74);
    padding: 0.55em 2em;
    cursor: pointer;
}

.social .footer__nav {
    margin: 1em 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    color: #fff;
}

.footer__nav .footer__link {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.5em 0;
}

.social .suite {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    color: #fff;
}

.suite__link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0.5em 0;
    font-size: 0.9rem;
}

/*
******************Facilities styling**************
*/
.facility.section1 {
    max-width: 500px;
    margin: auto;
}
.section1 .facility.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.facility.section3, .facility.section5{
    background: inherit;
    margin: 0;
    padding: 0;
}

/*
************ Rooms and rates styling*************
*/
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check-in, .check-out {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.7em 0;
    margin: 0.5em 0;
    width: 100px;
    font-size: 0.7rem;
}

.search-container svg {
    width: 15px;
}

.search input {
    display: block;
    border: 1px solid #ccc;
    padding: 0.8em;
    margin: 0.5em 0;
    width: 250px;
    height: 35px;
    background: transparent;
}

.rooms-rates {
    background: #fff;
    margin: 0;
    padding: 0;
}

.rooms-rates .suites {
    margin-top: -25px;
}

.rooms-rates .cards {
    background: rgb(243, 240, 240);
}

/*
************ contact styling*************
*/
.contact .content, .contact .client-details{
    margin: 1em 1.3em;
    display: flex;
    flex-direction: column;

}
.contact .content {
    max-width: 500px;
}
.contact {
    display: block;
    margin-top: 2em ;
    padding: 0;
    box-sizing: border-box;
}

.contact input, textarea {
    width: 250px;
    padding: 0.5em 1em;
    margin-top: 0.7em;
    font-family: inherit;
    font-size: 0.9em;
    border: 1px solid #ccc;
}

.contact h3 {
    margin-bottom: -10px;
}

@media screen and (min-width: 31.25em) {
    .suites {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .suites .btn {
        align-self: center;
    }
}

@media screen and (min-width: 47.5em) {
body {
    max-width: ;
    margin: auto;
}

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    .suites {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .suites .btn {
        grid-column: 2;
        justify-self: center;
    }

    .section1, .section2, .section4 {
        margin: 0;
    }

    .content {
        align-content: center;
        align-self: center;

    }

    .home.section2 .content {
        grid-column: 2;
        grid-row: 1;
    }

    .suites {
        flex-direction: row;
        justify-content: space-around;
    }

    .card {
        margin-right: 1em;
        flex: 1;
    }

    .social {
        display: flex;
        justify-content: space-evenly;
    }

    /*
    ********Facility media query styling********
    */
    .facility.section3 .showcase, .facility.section5 .showcase {
        grid-column: 1;
        grid-row: 1;
    } 
   .facility.section3 .content, .facility.section5 .content {
        grid-column: 2;
    }

    /*
    ************ Rooms and rates media query styling*************
    */

    .search-container {
        flex-direction: row;
    }

    /*
    ************ Contacts media query styling*************
    */

    .contact.section1 {  
        display: flex;
        justify-content: space-around;
    }

    .client-details h3 {
        margin-top: 5em;
    }
}














